- if @location_forecasts.any?
  .locations
    - @location_forecasts.all.each do |forecast|
      - Location::UPCOMING_FORECAST_DAYS.each do |index|
        = forecast.average_windspeed_for_day(index)
